:root {
  --pali-color1: red;
  --pali-color2: orange;
  --pali-color3: yellow;
}

body {
  background: linear-gradient(to right, var(--pali-color1), var(--pali-color2), var(--pali-color1));
  color: yellow;
  text-shadow: 3px 3px 6px black;
  font-family: Georgia;
  margin: 0;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  
}

p {
  font-size: 1.2rem
}
